<% if @sprint.errors.any? %>
   <div id="flash_warning" class="flashcontainer">
      <%= image_tag "dialog-warning.png" :alt => "info", :class => "icon" %>
      <h2><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% @sprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for [@project, @sprint], :html => { :autocomplete => :off } do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :required => "true" %>
  </div>

  <div class="field">
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>

  <div class="actions">
    <%= f.submit if can? :update, @sprint %> or go <%= link_to 'back', project_sprints_path(@project) %>
  </div>
<% end %>
