<% title "#{@project.name} sprints" %>
<%= render "projects/subnav" %>

<ul class="fancy">
<% @sprints.each do |sprint| %>
  <li>
    <div>
      <div class="name"><%= link_to sprint.name, project_sprint_path(@project, sprint) %></div>
      <div class="edit"><%= link_to 'Edit', edit_project_sprint_path(@project, sprint) %></div>
      <div class="destroy"><%= link_to 'Destroy', project_sprint_path(@project, sprint), :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  </li>
<% end %>
</ul>

<%= link_to 'New Sprint', new_project_sprint_path(@project) %>
