<header>
  <h1>
    <%= link_to @project.name, backlog_path(@project) %>
    /
    Sprints
  </h1>

</header>

<div id="main" role="main">
  <%= render "shared/flash" %>

  <section class="sprints-container">
    <nav class="button-container">
    <% if can? :create, Sprint %>
      <%= link_to 'New Sprint', new_project_sprint_path(@project), :class => "button primary" %>
    <% end %>
    </nav>

    <ul class="fancy">
    <% @sprints.each do |sprint| %>
      <li>
        <article>
          <div class="name"><%= link_to sprint.name, project_sprint_path(@project, sprint), 'data-skip-pjax' => true %></div>
          <nav class="button-group">
            <% if can? :update, Sprint %>
              <%= link_to 'Make active', set_active_sprint_path(@project, sprint), :class => "button small" %>
            <% end %>
            <% if can? :update, Sprint %>
              <%= link_to 'Edit', edit_project_sprint_path(@project, sprint), :class => "button small" %>
            <% end %>
            <% if can? :destroy, Sprint %>
              <%= link_to 'Destroy', project_sprint_path(@project, sprint), :confirm => 'Are you sure?', :method => :delete, :class => "button small danger" %>
            <% end %>
          </nav>
        </article>
      </li>
    <% end %>
    </ul>

  </section>

</div>
