<% title "#{@project.name} - #{@sprint.name} planning" %>
<%= link_to 'Edit', edit_project_sprint_path(@project, @sprint) %> |
<%= link_to 'Back', project_sprints_path %>
<p id="notice"><%= notice %></p>

<p>Select which stories are in this sprint</p>

<div id="sortable-list" class="backlog">
  <h1>Project backlog</h1>
  <ul id="sortable1" class="connectedSortable">
    <%= render :partial => 'stories/story', :collection => @project.backlog %>
  </ul>
</div>

<div id="sortable-list" class="sprint">
  <h1>Sprint backlog</h1>
  <ul id="sortable2" class="connectedSortable">
    <%= render :partial => 'stories/story', :collection => @sprint.stories.asc(:position) %>
  </ul>
</div>

<script type="text/javascript">
$(function() {
  $( "#sortable1, #sortable2" ).sortable({
    connectWith: ".connectedSortable"
  }).disableSelection();

  $("#sortable1").sortable({
    update: function(){
      $.ajax({
        type: 'post',
        data: $('#sortable1').sortable('serialize', {attribute: 'id'}),
        dataType: 'script',
        complete: function(request){
          $('#sortable1').effect('highlight');
        },
        url: '<%= remove_and_sort_stories_path(@project, @sprint) %>'
      })
    }
  });

  $("#sortable2").sortable({
    update: function(){
      $.ajax({
        type: 'post',
        data: $('#sortable2').sortable('serialize', {attribute: 'id'}),
        dataType: 'script',
        complete: function(request){
          $('#sortable2').effect('highlight');
        },
        url: '<%= add_and_sort_stories_path(@project, @sprint) %>'
      })
    }
  });

});
</script>
