<header>
  <h1>
    <%= link_to @project.name, backlog_path(@project) %>
    /
    <%= link_to @sprint.name, sprint_planning_path(@project, @sprint)%>
  </h1>
</header>

<div id="main" role="main">
  <%= render "shared/flash" %>

  <section class="sprint-container">

    <nav class="button-group">
      <%= link_to 'All stories', {:show => "all"}, :class => "button" %>
      <%= link_to 'My stories', {:show => "my"}, :class => "button" %>
    </nav>

    <nav id="togglebuttons" class="button-group">
      <%= link_to 'Open', {:show => "open"}, :class => "button" %>
      <%= link_to 'In progress', {:show => "active"}, :class => "button" %>
      <%= link_to 'Done', {:show => "done"}, :class => "button" %>
    </nav>

    <ul class="storylist">
      <%= render :partial => '/stories/story', :collection => @stories, :locals => {:sortable=> false} %>
    </ul>

  </section>

  <aside>
    <h2 class="sprint-time">
    <time datetime="2011-08-20">20-08-2011</time> &mdash;
    <time datetime="2011-09-14">14-09-2011</time>
    </h2>

    <blockquote>
     <%= @sprint.goal %>
    </blockquote>
    <div class="progress-bar">
      <span style="width: <%= @sprint.percentage_completed %>%"></span>
    </div>
  </aside>

 </div>



