<% title "#{@project.name} - #{@sprint.name} [#{@sprint.start_date} - #{@sprint.end_date}]" %>
<%= render "sprints/subnav" %>

<p id="notice"><%= notice %></p>

<p><%= @sprint.goal %></p>
<%= render :partial => 'stories/status-menu', :locals => {:show_new_story => false, :active_menu_item => show_scope} %>

<div id="storylist">
  <ul>
    <%= render :partial => '/stories/story', :collection => @stories %>
	</ul>
</div>

<tt><%= @sprint.burndown_url %></tt>

  <img src="http://chart.apis.google.com/chart?chs=400x450&cht=lxy&chtt=Sprint%20burndown&chxt=x,y&chxl=days&chdl=Estimated|Actual&chco=FF0000,00FF00&chd=t:-1|40,36,32,28,24,20,16,12,8,4,0|-1|40,38,36,35,20,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1&chxr=0,0,30,2|1,0,40,2&chds=0,40&chm=s,FF0000,0,-1,5|s,0000ff,1,-1,5|s,00aa00,2,-1,5" alt="" />

<div id="burndown">
  <img src="<%= @sprint.burndown_url %>" alt="Sprint burndown chart" />
</div>
