 <% if story.errors.any? %>
    <div id="flash_warning" class="flashcontainer">
      <%= image_tag "dialog-error.png", :alt => "info", :class => "icon" %>
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

<%= form_for [current_user, project, story] do |f| -%>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :autofocus => "true" %>
  </div>

  <div class="field">
    <%= f.label :body, "Description" %><br />
    <%= f.text_area :body %><br />
    <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> enabled!
  </div>

  <div class="field">
    <%= f.label :moscow, "Priority" %><br />
    <%= f.select :moscow, Moscow::all %>
  </div>

  <div class="field">
    <%= f.label :points %><br />
    <%= f.select :points, StoryPoint::all %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, Status::all %>
  </div>

  <div class="actions">
    <%= f.submit button_name, :class => "button", :disable_with => 'Saving...', :rel => "save-story" %> or <%= link_to 'go back', :back %>
    <% unless story.new_record? %>
      <% if can? :destroy, story %>
        or <%= link_to 'destroy', project_story_path(project, story), :confirm => 'Are you sure?', :method => :delete, :class => "button danger" %>
      <% end %>
    <% end %>
  </div>
<% end %>
