<% if story.points == 0 %>
  <li class="story not-sortable" id="story_<%= story.id %>" data-id="<%= story.id %>">
<% else %>
  <li class="story" id="story_<%= story.id %>" data-id="<%= story.id %>">
<% end %>
  <div class="storyheader">
    <div class="expand"><img src="/images/open.png" alt="open" /></div>    
    <div class="story-menu">
      <div class="priority" title="Priority: <%= Moscow.to_name(story.moscow) %>"><%= Moscow.to_name(story.moscow) %></div>
      <div class="points" title="Story points: <%= story.assigned_points %>"><%= story.assigned_points %></div>
    </div>
    <div class="naam" title="<%= story.name %> <%= link_to_story_developer(story) %>"><%= story.name %> <%= link_to_story_developer(story) %></div>
  </div>
  <div class="storybody">
    <div class="full-description"><%= markdown(story.description) %></div>
    <div class="edit-story">
      <% if can? :update, @story %>
        <%= link_to 'Edit', edit_project_story_path(story.project, story) %> |
      <% end %>
      <% if can? :update, @story %>
        <%= link_to 'Start', start_story_path(story.project, story) %>
        <%= link_to 'Done', finish_story_path(story.project, story) %>
      <% end %>      
    </div>
  </div>
</li>
