<% title("#{@project.name} / Product Backlog") %>
<header>
  <h1>
    <%= link_to @project.name, backlog_path(@project) %>
    /
    Product Backlog
  </h1>
  <nav class="header-right">
  <%= link_to "Sprints", project_sprints_path(@project), :class => "button" %>
  </nav>
</header>

<div id="main" role="main">
  <%= render "shared/flash", :flash => flash %>

  <section class="backlog-container">

    <nav class="button-container">
      <% if can? :create, Story %>
         <%= link_to 'New Story', new_project_story_path(@project), :class => "button primary" %>
      <% end %>

      <nav id="togglebuttons" class="button-group">
        <%= link_to 'Open', {:show => "open"}, :class => "button" %>
        <%= link_to 'In progress', {:show => "active"}, :class => "button" %>
        <%= link_to 'Done', {:show => "done"}, :class => "button" %>
      </nav>
    </nav>

    <div id="storylist">
      <ul id="sortable" data-url="<%= sort_stories_path(@project) %>">
        <%= render :partial => 'story', :collection => @stories, :locals => {:sortable => true} %>
      </ul>
    </div>

  </section>

</div>
