
<h1>Product backlog <%= @project.name %></h1>
<%= @stories.count %>
<div id="status-menu">
  <ul>
    <li><%= link_to 'All', project_stories_path(@project) %></li>
    <li><%= link_to 'Open', open_stories_path(@project) %></li>
	  <li><%= link_to 'In progress', active_stories_path(@project) %></li>
	  <li><%= link_to 'Done', done_stories_path(@project) %></li>
    <li><%= link_to 'New Story', new_project_story_path(@project) %></li>
  </ul>
</div>

<div id="storylist">
  <ul>
  <% @stories.each do |story| %>
	  <li class="story">
	    <div class="expand"><img src="/images/open.png" alt="open" /></div>
			<div class="id">16</div>
			<div class="naam"><%= story.name %> (Bob)</div>
			<div class="description"><img src="/images/new.png" alt="open" title="<%= story.description %>"/></div>
			<div class="notes"><img src="/images/new.png" alt="open" /></div>
			<div class="priority"><%= story.priority %></div>
			<div class="points"><%= story.points %></div>
      <div class="full-description"><%= story.description %></div>
      <div><%= link_to 'Show', project_story_path(story.project, story) %></div>
      <div><%= link_to 'Edit', edit_project_story_path(story.project, story) %></div>
      <div><%= link_to 'Destroy', project_story_path(story.project, story), :confirm => 'Are you sure?', :method => :delete %></div>
    </li>
  <% end %>
	</ul>
</div>
